<div class="container py-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Header</th>
                <th scope="col">Tags</th> <!-- New column -->
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <th scope="row">@post.ID</th>
                    <td>
                        <strong>@post.Header</strong>
                    </td>
                    <td>
                        @if (post.Tags != null)
                        {
                            foreach (var tag in post.Tags)
                            {
                                <span class="badge bg-primary me-1">@tag.Name</span>
                            }
                        }
                        else
                        {
                            <span class="text-muted">No Tags</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
